- if session[:auth_hash] == nil
  %h3 You are NOT authenticated in salesforce
  %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/salesforce", :method => "post"}
    %button{id: 'salesforce_auth'} Authenticate using your salesforce credentials
- else
  %h3{id: 'salesforce_user'}
    #{session[:auth_hash][:extra][:username]}
%hr
- if session[:box_user] == nil
  %h3 You are NOT authenticated in box
  %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/box", :method => "post"}
    %button{id: 'box_auth'} Authenticate using your box credentials
- else
  %h3{id: 'box_user'}
    #{session['box_user']}
