%nav.navbar.navbar-dark
  %a.navbar-brand{href: '/'}
    Kitten Clicker
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{href: '#'}
        Home
    %li.nav-item.active
      %a.nav-link{href: '#'}
        Login
.container-fluid{style: 'height: 100%; min-height: 100%'}
  - if session[:salesforce] && !session[:salesforce][:email].nil? && session[:box] && !session[:box][:email].nil?
    %a{href: 'http://10.10.0.204:4545/authenticate?' + @my_params }
  .row
    - if session[:salesforce] == nil
      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{sytle: ''}
        .col-lg-3.offset-lg-4{style: 'padding: 25em 0em'}
          %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/salesforce", :method => "post"}
            %button{id: 'salesforce_auth'} Authenticate using your salesforce credentials
    - else
      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{sytle: ''}
        .col-lg-3.offset-lg-4{style: 'padding: 25em 0em'}
          = session.inspect
    - if session[:box] == nil
      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{style: 'border-left: 1px dotted grey'}
        .col-lg-3.offset-lg-4{style: 'padding: 25em 0em'}
          %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/box", :method => "post"}
            %button{id: 'salesforce_auth'} Authenticate using your sandbox credentials
    - else
      .col-sm-6.col-md-6.col-xlg-6.offset-md-0.offset-lg-0.offset-xl-0{sytle: ''}
        .col-lg-3.offset-lg-4{style: 'padding: 25em 0em'}
          = session.inspect
