!!! 5
%head
  %title Kitten Clicker login!
  %link{ rel: 'stylesheet', href: 'stylesheets/bootstrap.css'}
  %link{ rel: 'stylesheet', href: 'stylesheets/font-awesome.min.css' }
%body{style: "background-color: #0C1017; background-image: url('domo_kun_and_tree_blossoms-wallpaper-1920x1080.jpg'); background-size: 100% 100% ; background-repeat:no-repeat; min-height: 70em"}
  = yield
